<ul style="list-style: none; padding: 0">
    {% for doc in documents %}
        <li class="result">
            <p class="result-line">
                <a class="doc-title" href="{% url 'visit' doc.filename %}">{{ doc.title }}</a>
            </p>
            <span class="result-line doc-name">{{ doc.filename }}{{ doc.extension }}</span>
            {% if evaluate %}
                {% if doc.liked %}
                    <button type="button" class="btn btn-default btn-xs btn-like active" data-doc="{{ doc.filename }}"
                            style="border: none">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-default btn-xs btn-like" data-doc="{{ doc.filename }}"
                            style="border: none">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </button>
                {% endif %}
            {% endif %}
            <p class="result-line doc-content">{{ doc.content }}...</p>
        </li>
    {% endfor %}
</ul>