{% if action == 'error' %}
    {{ message }}
{% else %}
    {% if documents %}
        <h1>
            Results for: "{{ query }}"
        </h1>
        <p style="color: #808080">
            Query performed in {{ time }} seconds
        </p>
        <ul style="list-style: none; padding: 0">
            {% for doc, match in documents %}
                <li class="result">
                    <p class="result-line"><a class="doc-title" href="{{ doc.path }}">{{ doc.title }}</a></p>
                    <p class="result-line doc-name">{{ doc.filename }}</p>
                    <p class="result-line doc-content">{{ doc.content }}...</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Nothing was found.
    {% endif %}
{% endif %}
