<!DOCTYPE html>

{% extends 'engine/base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div id="content" class="col-lg-6 text-justify">
            <div id="top-visited-content"></div>
            {% if not build_needed %}
                <h1>Most visited</h1>
                {% include 'engine/document_list.html' with documents=top_documents %}
            {% endif %}
        </div>
        <div id="suggested-content" class="col-lg-6"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        $().ready(function () {
            $('#suggested').addClass('active');
        })
    </script>
{% endblock %}